<div class="row">
    <div class="col-md-6">
      <form #f="ngForm" (ngSubmit)="save(f.value)">
        <div class="form-group">
          <label for="personnelNumber">Personnel #:</label>
          <input  #personnelNumber="ngModel" id="personnelNumber" type="number" class="form-control" placeholder="Personnel number" required>
          <div class="aler alert-danger" >
            Personnel number is required.
          </div>
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input id="name" type="text" class="form-control" placeholder="Employee name">
        </div>
        <div class="form-group">
            <label for="doh">DOH:</label>
            <input id="doh" type="text" class="form-control" placeholder="Date of hire">
        </div>
        <div class="form-group">
            <label for="phone">Phone #:</label>
            <input id="phone" type="text" class="form-control" placeholder="Phone number">
        </div>
        <div class="form-group">
            <label for="address">Address:</label>
            <input id="address" type="text" class="form-control" placeholder="Address">
        </div>
        <div class="form-group">
            <label for="job-title">Job Title:</label>
            <input id="job-title" type="text" class="form-control" placeholder="Job Title">
        </div>
        <div class="form-group">
            <label for="location">Location:</label>
            <input id="location" type="text" class="form-control" placeholder="Location">
        </div>
        <div class="form-group">
            <label for="leaves-analyst">Leaves Analyst:</label>
            <input id="leaves-analyst" type="text" class="form-control" placeholder="Leaves Analyst">
        </div>
        <div class="form-group">
            <label for="data-entry-date">Data Entry Date:</label>
            <input id="data-entry-date" type="text" class="form-control" placeholder="Data Entry Date">
        </div>
</form>
</div>